/* Четвертая страница */

.wrap_fourth_page {
    width: 100%;
    height: 100%;
}

.header_team {
    margin: 5vw 0 0 10vw;
}

.header_team__subtitle {
    width: 37vw;
    margin: 2vw 0;
}

.container_team {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5vw;
    width: 89%;
    height: 73%;
    margin-left: 10vw;
}

.team_lead {
    background-image: url(../img/Portraite_red.jpg);
    height: 65%;
    width: 20%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: var(--mainTransition);
}
.team_lead:hover {
    transform: scale(1.1,1.1);
    filter: drop-shadow(1px 1px 3px);
}

.wrap_team {
    height: 65%;
    width: 70%;
}

.greeting {
    height: 30%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
}

.Mark {
    font-family: 'Roberto';
    font-size: 2vw;
    color: hsl(27deg 15% 24%);
}

.Mark_subtitle {
    width: 80%;
    font-family: 'Lato';
}

.social_media {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.social_media span {
    color: hsl(27deg 15% 24%);
    font-style: italic;
}

.members {
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 2vw;
}

.photo {
    width: 22%;
    height: 80%;
    background-repeat: no-repeat;
}

.df {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.Bond {
    background-image: url(../img/man_with_hair.jpg);
    background-size: cover;
    background-position: 50% 25%;
    transition: var(--mainTransition);
}
.Bond:hover {
    transform: scale(1.1,1.1);
    box-shadow: 1px 1px 5px 0px;
}
.Bond:hover .hover_name {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.Sokina {
    background-image: url(../img/woman_glasses.webp);
    background-size: cover;
    background-position: 45% 30%;
    transition: var(--mainTransition);
}
.Sokina:hover {
    transform: scale(1.1,1.1);
    box-shadow: 1px 1px 5px 0px;
}
.Sokina:hover .hover_name {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.Bill {
    background-image: url(../img/Man_BW.jpg);
    background-size: cover;
    background-position: 50% 26%;
    transition: var(--mainTransition);
}
.Bill:hover {
    transform: scale(1.1,1.1);
    box-shadow: 1px 1px 5px 0px;
}
.Bill:hover .hover_name {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.Willy {
    background-image: url(../img/grayMan.jpg);
    background-size: cover;
    transition: var(--mainTransition);
}
.Willy:hover {
    transform: scale(1.1,1.1);
    box-shadow: 1px 1px 5px 0px;
}
.Willy:hover .hover_name {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.hover_name {
    color: transparent;
    background-color: transparent;
    text-align: center;
    padding: 6% 0%;
    width: 100%;
    user-select: none;
    font-family: 'Lato';
    transition: var(--mainTransition);
}