/* Четвертая страница */

.wrap_fourth_page {
    width: 100%;
    height: 100%;
}

.header_team {
    margin: 5vw 0 0 10vw;
}

.header_team__subtitle {
    width: 37vw;
    margin: 2vw 0;
}

.container_team {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5vw;
    width: 89%;
    height: 73%;
    margin-left: 10vw;
}

.team_lead {
    background-image: url(../img/Portraite_red.jpg);
    height: 65%;
    width: 20%;
    background-size: contain;
    background-repeat: no-repeat;
}

.wrap_team {
    height: 65%;
    width: 70%;
}

.greeting {
    height: 30%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
}

.Mark {
    font-family: 'Roberto';
    font-size: 2vw;
    color: hsl(27deg 15% 24%);
}

.Mark_subtitle {
    width: 80%;
    font-family: 'Lato';
}

.social_media {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.social_media span {
    color: hsl(27deg 15% 24%);
    font-style: italic;
}

.members {
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 2vw;
}

.photo {
    width: 22%;
    height: 80%;
    background-repeat: no-repeat;
}

.Sokina {
    background-image: url(../img/man_with_hair.jpg);
    background-size: cover;
    background-position: 50% 25%;
}

.Alex {
    background-image: url(../img/woman_glasses.webp);
    background-size: cover;
    background-position: 45% 30%;
}

.Bill {
    background-image: url(../img/Man_BW.jpg);
    background-size: cover;
    background-position: 50% 26%;
}

.Lucy {
    background-image: url(../img/grayMan.jpg);
    background-size: cover;
}