/* Шестая страница */

.footer {
    height: 15%;
    width: 100%;
    background-color: #312b2c;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 31%;
    height: 100%;
    color: #a6a6a6;
    font-family: 'lato';
}

.footer__container_left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__container_right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vmin;
}
.footer__container_right a {
    width: 9%;
    height: 33%;
}
.footer__container_right div{
cursor: url(../img/cursor/pointer.png), pointer;
}
.logo {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.twiter {
    background-image: url(../img/logotwiter.png);
    cursor: pointer;
}

.linkedIn {
    background-image: url(../img/In.png);
    cursor: pointer;
}

.instagram {
    background-image: url(../img/instagram.png);
    cursor: pointer;
}

.facebook {
    background-image: url(../img/logoFacebook.png);
    cursor: pointer;
}