/* Вторая страница */

.wrap_second_page {
    display: flex;
    height: 100%;
    width: 100%;
}

.wrap_second_page__left_part {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4vmin;
    width: 50%;
    height: 100%;
}

.wrap_second_page__left_part .center {
    margin: 0% 5% 0% 10vw;
    width: calc(100% - 10vw - 5%);
}

.wrap_second_page__title {
    width: 100%;
    margin-bottom: 8%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3vw;
    color: hsl(0deg 0% 29%);
    font-weight: bold;
}

.wrap_second_page__subtitle {
    width: 95%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: hsl(0deg 0% 0%);
    font-size: 2vmin;
    margin-bottom: 8%;
}

.wrap_second_page__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0.5vmin #ff2b2b;
    transition: var(--mainTransition);
}

.button {
    font-family: 'Winston';
    border-radius: 0.5vmin;
    width: 15vw;
    height: 7vh;
    user-select: none;
}

.wrap_second_page__button:hover {
    transform: scale(1.1, 1.1);
    background-color: #ff2b2b;
    cursor: url(../img/cursor/pointer.png), pointer;
}

.wrap_second_page__button:active {
    background-color: hsl(352deg 80% 50%);
    border: solid 0.5vmin hsl(352deg 80% 50%);
}

.wrap_second_page__button span {
    display: inline-block;
    font-size: 2.5vmin;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: hsl(352deg 72% 55%);
    transition: var(--mainTransition);
}

.wrap_second_page__button:hover span {
    color: white;
}

.wrap_second_page__button:active span {
    color: white;
}

.wrap_second_page__right_part {
    width: 50%;
    height: 100%;
}

.wrap_second_page__block {
    vertical-align: top;
    display: inline-block;
    width: 48%;
    height: 50%;
}

.wrap_second_page__block__wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.wrap_second_page__block__wrap_empty {
    width: 100%;
    height: 55%;
}

.icons {
    height: 3vw;
    width: 3vw;
    background-repeat: no-repeat;
    background-size: contain;
}

.wrap_second_page__block_gear {
    background-image: url(../img/gear.png);
}

.wrap_second_page__block_pencil {
    background-image: url(../img/pencil.png);
}

.wrap_second_page__block_diamond {
    background-image: url(../img/diamond.png);
}

.wrap_second_page__block_bus {
    background-image: url(../img/bus.png);
}

.wrap_second_page__block_title {
    font-family: Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.7vw;
    color: hsl(0deg 0% 39%);
    margin: 6% 0% 4% 0%;
}

.wrap_second_page__block_text {
    width: 100%;
    font-family: Geneva, Verdana, sans-serif;
    color: hsl(27deg 5% 54%);
    font-size: 1vw;
    margin-bottom: 8%;
}

.line_btw {
    width: 80%;
    height: var(--lineProperty);
    background-color: hsl(0deg 0% 94%);
    margin: auto;
}

@media (max-width: 1100px) {
    .wrap_second_page__block_text {
        font-size: 2vmin;
    }
    .icons {
        width: 4vw;
        height: 4vw;
    }
}
@media (max-width: 980px) {
    .button {
        width: 21vw;
    }
}