/* Третья страница */

.wrap_third_page {
    width: 100%;
    height: 130%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mt10 {
    margin-top: 10vmin;
}

.header__title {
    margin-bottom: 2%;
}

.header__subtitle {
    margin-bottom: 2%;
}

.line {
    width: 10%;
    height: var(--lineProperty);
    background-color: hsl(0deg 100% 58%);
    position: relative;
    top: 5%;
}

.middle_menu {
    height: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin: 3vw 0% 3vw 0%;
}

.middle_menu__item {
    font-size: 2.5vmin;
    user-select: none;
    color: #000;
}

.middle_menu__item:hover {
    color: hsl(213deg 89% 50%);
    cursor: url(../img/cursor/pointer.png), pointer;
}

.middle_menu__item:active {
    color: hsl(213deg 90% 30%);
}

.wrap_picture {
    display: flex;
    flex-wrap: wrap;
    gap: 3vmin;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
    height: 70%;
}

.wrap_picture__pic {
    width: 19vw;
    height: 19vw;
}

.pic {
    background-size: cover;
    background-position: 50% 50%;
}

.paper {
    background-image: url(../img/paper.jpg);
    transition: var(--mainTransition);
}

.paper:hover {
    transform: scale(1.05, 1.05);
    filter: brightness(0.75);
    box-shadow: 1px 1px 5px 0px;
    cursor: url(../img/cursor/pointer.png), pointer;
}

.bottle {
    background-image: url(../img/bottles.jpg);
    transition: var(--mainTransition);
}

.bottle:hover {
    transform: scale(1.05, 1.05);
    filter: brightness(0.75);
    box-shadow: 1px 1px 5px 0px;
    cursor: url(../img/cursor/pointer.png), pointer;
}

.cup {
    background-image: url(../img/cup.jpg);
    transition: var(--mainTransition);
}

.cup:hover {
    transform: scale(1.05, 1.05);
    filter: brightness(0.85);
    box-shadow: 1px 1px 5px 0px;
    cursor: url(../img/cursor/pointer.png), pointer;
}

.expo {
    background-image: url(../img/expo.webp);
    transition: var(--mainTransition);
}

.expo:hover {
    transform: scale(1.05, 1.05);
    filter: brightness(0.75);
    box-shadow: 1px 1px 5px 0px;
    cursor: url(../img/cursor/pointer.png), pointer;
}

.butterfly {
    background-image: url(../img/butterfly.jpg);
    transition: var(--mainTransition);
}

.butterfly:hover {
    transform: scale(1.05, 1.05);
    filter: brightness(0.75);
    box-shadow: 1px 1px 5px 0px;
    cursor: url(../img/cursor/pointer.png), pointer;
}

.certificate {
    background-image: url(../img/certificate.PNG);
    transition: var(--mainTransition);
}

.certificate:hover {
    transform: scale(1.05, 1.05);
    filter: brightness(0.75);
    box-shadow: 1px 1px 5px 0px;
    cursor: url(../img/cursor/pointer.png), pointer;
}

.resume {
    background-image: url(../img/resume.jpg);
    transition: var(--mainTransition);
}

.resume:hover {
    transform: scale(1.05, 1.05);
    filter: brightness(0.75);
    box-shadow: 1px 1px 5px 0px;
    cursor: url(../img/cursor/pointer.png), pointer;
}

.home {
    background-image: url(../img/house.jpg);
    transition: var(--mainTransition);
}

.home:hover {
    transform: scale(1.05, 1.05);
    filter: brightness(0.75);
    box-shadow: 1px 1px 5px 0px;
    cursor: url(../img/cursor/pointer.png), pointer;
}

@media (max-width: 1125px) {
    .wrap_picture {
        gap: 1vmin;
    }
    .wrap_picture__pic {
        width: 31vw;
        height: 21vw;
    }
}

@media (min-width: 0px) and (max-width: 850px) {
    .wrap_picture__pic {
        width: 33vw;
        height: 20vw;
    }
}