html, body {
  height: 100%;
  width: 100%;
  --mainTransition: 0.4s;
  --lineProperty: 2px;
  scroll-behavior: smooth;
  cursor: url(../img/cursor/default.png), auto;
  overflow: hidden;
  animation: overflow_visible 0.5s linear 3s  forwards;
}

::selection {
  background-color: #ff4c4c7d;
  color: #fff;
}

img {
  user-select: none;
}

/* Общее обнуление  */

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
}

/* стили scrollbara*/

html::-webkit-scrollbar {
  width: 2vmin;
}

html::-webkit-scrollbar-thumb {
  background-color: #ff2b2b;
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0deg 100% 48%);
}

html::-webkit-scrollbar-thumb:active {
  background-color: hsl(0deg 100% 42%);
}

html::-webkit-scrollbar-track {
  background-color: white;
}

/* Кастомные шрифты */

@font-face {
  font-family: 'Roberto';
  src: url(../fonts/RobertoSans-Black.ttf);
}

@font-face {
  font-family: 'Winston';
  src: url(../fonts/Winston-Black.ttf);
}

@font-face {
  font-family: 'LetBd';
  src: url(../fonts/SztyletBd.otf);
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato-Regular.ttf);
}

/* Стили placeholder */

textarea {
  resize: none;
  font-size: 1vw;
}

textarea::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input {
  font-size: 1vw;
}

::-webkit-input-placeholder {
  opacity: 1;
  /* Выучить*/
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Стили стрелок */

.arrow_up {
  position: fixed;
  height: 96px;
  width: 96px;
  background-image: url(../img/arrow_up.png);
  top: 50px;
  right: 50px;
  transition: var(--mainTransition);
  z-index: 5;
}

.arrow_up:hover {
  transform: scale(1.3, 1.3);
  cursor: url(../img/cursor/pointer.png), pointer;
}

.arrow_down {
  position: fixed;
  height: 96px;
  width: 96px;
  background-image: url(../img/arrow_down.png);
  bottom: 50px;
  right: 50px;
  transition: var(--mainTransition);
  z-index: 5;
}

.arrow_down:hover {
  transform: scale(1.3, 1.3);
  cursor: url(../img/cursor/pointer.png), pointer;
}

@media (min-width:0px) and (max-width:1070px) {
  .head_menu {
    gap: 8%;
  }
  .ourVideo__videoWrap {
    min-width: 75%;
  }
}

/* Loaging */

.wrapper {
  position: absolute;
  background: #333;
  height: 100%;
  width: 100%;
  animation: stopLoading 1s linear 3s forwards;
  z-index: 9;
}

.profile-main-loader {
  left: calc(50% - 100px);
  position: absolute;
  top: calc(50% - 100px);
  width: 45px;
  z-index: 9;
}

.profile-main-loader .loader {
  position: relative;
  margin: 0px auto;
  width: 200px;
  height: 200px;
}

.circular-loader {
  animation: rotate 2s linear infinite;
  height: 100%;
  -ms-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.loader-path {
  stroke-dasharray: 150, 200;
  stroke-dashoffset: -10;
  animation: dash 1s ease-in-out infinite, color 3s ease-in-out;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

@keyframes color {
  0% {
    stroke: hsl(90deg 100% 58%);
  }
  40% {
    stroke: hsl(60deg 100% 58%);
  }
  66% {
    stroke: hsl(30deg 100% 58%);
  }
  80%, 100% {
    stroke: hsl(0deg 100% 58%);
  }
}
.loading_text {
color: #fff;
font-size: 3vw;
font-family: 'Lato';
position: absolute;
width: 12.5vw;
/* left: calc(50% - 6.25vw);
top: calc(50% - 150px); */
right: 3%;
bottom: 0%;
}

@keyframes stopLoading {
  to {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes overflow_visible {
  to {
   overflow:visible;
  }
}