html, body {
  height: 100%;
  width: 100%;
  --mainTransition: 0.4s;
  --lineProperty: 2px;
  scroll-behavior:smooth;
  perspective: 1000px;
}

::selection {
  background-color: #ff4c4c7d;
  color: #fff;
}

img {
  user-select: none;
}

/* Общее обнуление  */

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
}

/* стили scrollbara*/

html::-webkit-scrollbar {
  width: 2vmin;
}

html::-webkit-scrollbar-thumb {
  background-color: #ff2b2b;
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0deg 100% 48%);
}

html::-webkit-scrollbar-thumb:active {
  background-color: hsl(0deg 100% 42%);
}

html::-webkit-scrollbar-track {
  background-color: white;
}

/* Кастомные шрифты */

@font-face {
  font-family: 'Roberto';
  src: url(../fonts/RobertoSans-Black.ttf);
}

@font-face {
  font-family: 'Winston';
  src: url(../fonts/Winston-Black.ttf);
}

@font-face {
  font-family: 'LetBd';
  src: url(../fonts/SztyletBd.otf);
}

@font-face {
  font-family: 'Lato';
  src: url(../fonts/Lato-Regular.ttf);
}

/* Стили placeholder */

textarea {
  resize: none;
  font-size: 1vw;
}

textarea::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input {
  font-size: 1vw;
}

::-webkit-input-placeholder {
  opacity: 1;
  /* Выучить*/
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
@media (min-width:0px) and (max-width:1070px) {
  .head_menu {
  gap:8%;
}
.ourVideo__videoWrap {
  min-width: 75%;
}
}
/* cursor:pointer для нужных элементов */
.cp{
  cursor: pointer;
}